<div class="header-background">
<div id="header">
<venda_inctemplate name=header-logo,type=menu>
<venda_inctemplate name=header-basket,type=menu>
</div>
</div>
<div class="header-background2">
<div class="header-bottom">
<venda_inctemplate name=searchbox,type=menu>
<ul class="storeandphone">
<li id="storefirst"><a href="<venda_dispview pcat=our_stores>">Heal's Store Locator</a></li>
<li style="padding:0 0 0 5px;">TEL: <span>08700 240 780</span></li>
</ul>
</div>
</div>

<venda_block label=notshopcart,mode=value,workflow!=shopcart>

<div class="header-background">
<div class="topNavigation">
<venda_inctemplate name=topNavigation,type=mainincludes>
<div class="topnav-gradient"></div>
</div>
</div>

<br clear="all" />

<div class="header-background2">
<div class="catref" style="display:none;"><venda_icatref><venda_invtcatref0></div>
<div class="pcatref" style="display:none;"><venda_pcatref></div>
<venda_inctemplate name=crumbtrail,type=includes>
</venda_block label=notshopcart>
<venda_block label=isshopcart,mode=value,workflow=shopcart>
<br /><br />
</venda_block label=isshopcart>


</div>
</div>