<venda_tpcomment><!-- This template is used by product detail when the product has attributes, it cycles through and stores the image paths to the various attribute 1 association values (e.g. xsmall,medium,large image path for Red Shirt) --></venda_tpcomment>

<venda_detblock_mediagridrow>
	<venda_detail_mediagridcell>
</venda_detblock_mediagridrow>


<venda_detblock_mediagridcell>
        <venda_block label=1,emptycell!=1,medatrvalue!=>
		Venda.Attributes.StoreImageSwaps({
			"param": "<venda_medatrvalue>",
			"images": {
				imgS: ["<venda_media rec=invt,type=pict,key=setmedium,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium1,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium2,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium3,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium4,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium5,medatr=yes,img=no>"],
                imgM: ["<venda_media rec=invt,type=pict,key=setmedium,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium1,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium2,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium3,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium4,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=medium5,medatr=yes,img=no>"],
                imgL: ["<venda_media rec=invt,type=pict,key=large,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=large1,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=large2,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=large3,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=large4,medatr=yes,img=no>","<venda_media rec=invt,type=pict,key=large5,medatr=yes,img=no>"]
				}
			});
		Venda.Attributes.SwatchURL["<venda_medatrvalue>"] = "<venda_media rec=invt,type=pict,key=setswatch,medatr=yes,img=no>";
        </venda_block label=1>
</venda_detblock_mediagridcell>

<script type="text/javascript">
<venda_detail_mediagridrow>
</script>

<venda_block label=large1,med-large=null>
<script type="text/javascript">
function noImage<venda_oiivref>(changeImage){
changeImage.src = '<venda_entmediaadd>/ebiz/<venda_bsref>/invt/<venda_invtparef>/<venda_invtparef>_sm.jpg';}
</script>
</venda_block label=large1>