<div class="header-center">
<p class="welcome">Welcome to healssofas.co.uk</p>
</div>
<div class="header-right">
<ul class="basket-contents">
<li class="checkout-button">
<venda_block label=11,carttotal!=0>
<venda_block label=100,ustype=R>
<venda_block label=210,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="https://www.heals.co.uk/bin/venda?ex=co_wizr-shopcart&bsref=heals&wizard=shopcart&step=confirm&param1=login"></venda_block label=210>
<venda_block label=211,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="https://www.heals.co.uk/bin/venda?ex=co_wizr-shopcart&bsref=heals&wizard=shopcart&step=billtologin&param1=login"></venda_block label=211>
</venda_block label=100>
<venda_block label=101,ustype!=R><a href="https://www.heals.co.uk/bin/venda?ex=co_wizr-shopcart&bsref=heals&wizard=shopcart&step=billtologin&param1=login"></venda_block label=101>
Checkout</a>
</venda_block label=11>
<venda_block label=12,carttotal=0>
<a href="http://www.heals.co.uk/bin/venda?ex=co_wizr-shopcart&bsref=heals&log=22">Checkout</a>
</venda_block label=12>
</li>
<li class="viewbasket-button"><a href="http://www.heals.co.uk/bin/venda?ex=co_wizr-shopcart&bsref=heals&log=22">My Basket</a></li>
</ul>
</div>