<style>#content-default_nocoltwothree {background:none;}</style>
<div id="tag-loadmessage" style="display:none;"><venda_text id=site.loadmessage></div>
<div id="tag-qtymsg" style="display:none;"><venda_text id=site.productdetail.validate.qty></div>
<div id="tag-ebizref" style="display:none;"><venda_setting type=ebiz,name=ref></div>
<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<div id="tag-invtname" style="display:none;"><venda_invtname></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>
<venda_tpcomment><!-- Jotis Attribute Design Translations --></venda_tpcomment>
<div id="tag-was" style="display:none;">WAS </div>
<div id="pdxtAttrName" style="display: none;"><!--<venda_pdxtattrname>-->selection</div>
<div id="attributes-stockNA" style="display:none;">Sorry, the selection you have made is not available</div>
<div id="pdxtVideoUrl" style="display:none;"><venda_pdxtvideo></div>
<div id="pdxtVideo-play" style="display:none;"><venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/pdxtvideo-play.png</div>
<div id="attributes-stockOut" style="display:none;">The selection you have made is out of stock</div>
<div id="attributes-productselected" style="display:none;"></div>
<div id="attributes-productstatus" style="display:none;">Please choose your </div>
<div id="attributes-only" style="display:none;"></div>
<div id="attributes-left" style="display:none;"> available</div>
<div id="attributes-optionDefault" style="display:none;">Please Select...</div>
<div id="attributes-tooltip" style="display:none;"> is currently out of stock</div>
<div id="attributes-backorder" style="display:none;">Awaiting Stock</div>
<div id="attributes-backorder2" style="display:none;">Delivery Due</div>
<div id="attributes-order" style="display:none;">Special Order</div>
<div id="attributes-order2" style="display:none;">Item Lead Time</div>
<div id="attributes-preorder" style="display:none;">Available for Pre-order - Release Date: </div>
<div id="attributes-quantity" style="display:none;">Please enter a quantity</div>
<venda_block label=mattress-prod1,invtcatref0=mattresses>
<div id="attributes-chooseVariant" style="display:none;">Please choose a tension for the mattress you are adding to the basket</div>
</venda_block label=mattress-prod1>
<venda_block label=mattress-prod0,invtcatref0!=mattresses>
<div id="attributes-chooseVariant" style="display:none;">Please choose a varient of the product(s) you are adding to the basket</div>
</venda_block label=mattress-prod0>
<div id="attributes-addThisProduct" style="display:none;">Add this Product</div>
<div id="attributes-addAllProduct" style="display:none;">Add all products</div>
<div id="attributes-noneChecked" style="display:none;">Please add at least one product</div>
<venda_tpcomment><!-- VCP switch settings required for attributes JS --></venda_tpcomment>
<div id="OutOfStockThreshold" style="display: none;"><venda_setting type=ebiz,name=emailmebackthreshold></div><venda_tpcomment><!-- Out of Stock Threshold --></venda_tpcomment>
<div id="DoNotBackorder" style="display: none;"><venda_setting type=ebiz,name=nobackorderedinclude></div><venda_tpcomment><!-- Do not dispatch backordered items (checked == no backorder)--></venda_tpcomment>
<div id="emwbisType" style="display: none;"><venda_setting type=ebiz,name=emailmebackcriteria></div><venda_tpcomment><!-- Email me when back in stock criteria (ETA / Release Dates): 4 options: none, eta, release, eta and etarelease --></venda_tpcomment>


<div itemscope itemtype="http://schema.org/Product">
	<div id="sofa-productdetail">
    
    	<script type="text/javascript">
	function deleteVideo(){$("#VideoPlayer")[0].src='';$(".pdxtVideoPlayerContainer").hide();}
	function LoadVideo(){$("#VideoPlayer")[0].src='http://<venda_pdxtvideo>';$(".pdxtVideoPlayerContainer").show();}
	</script>
		<div class="pdxtVideoPlayerContainer" style="display:none;">
			<div class="pdxtVideoPlayer">
				<a onclick="deleteVideo()"><img class="close-button" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/wallpaper-close.jpg" alt="Close" title="Close"></a>
				<iframe id="VideoPlayer" src="" frameborder="0" width="650" height="460" style="margin:0 -20px 0 0;;" /></iframe>
			</div>
		</div>
    
    <venda_tpcomment><!-- start: left hand side contents --></venda_tpcomment>
			<div class="grid_12 pull_12 omega">
				<div class="invtmedia grid_10 push_2 alpha" id="image_<venda_invtuuid>">
					<div id="sofa-productdetail-image">
					<a itemprop="image" href="<venda_media rec=invt,type=movie-swf-pict,key=large,img=no>" class = 'cloud-zoom' id='zoom1' rel="adjustX: 53, adjustY:-4, zoomWidth: 462" title="<venda_text id=desktop.info.large_image_title>"> 
					<venda_block label=10,med-medium=notnull>
					<img class="cloudzoom" id ="zoom1" src="<venda_media rec=invt,type=movie-swf-pict,key=medium,img=no>" data-cloudzoom="zoomImage: '<venda_media rec=invt,type=movie-swf-pict,key=large,img=no>',zoomPosition: 'inside'">
					</venda_block label=10> 

					<venda_block label=11,med-medium=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>"></venda_block label=11> </a> <div id="rolloverzoomText" style="position:absolute;top:385px;left:160px;"></div>
					</div>
					<div id="productdetail-swap" style="display:none;"></div>
					<div id="productdetail-viewlarge" class="enlarge"></div>
				</div>
    
    			<!-- alt images  -->
				<div class="alternative_images_slide" style="clear: both;">
				<venda_inctemplate name=alternateviewArrows,type=invt>
   					<div class="window_alternative_view">
        				<div class="image_reel_alternative_view">
        					<div class="move_width"></div>
							<ul>
							<div id="productdetail-altview" class="altImageList"></div>
							<venda_inctemplate name=alternateviewScript,type=invt>
							</ul>
        				</div>
  					</div>
				</div>


				<venda_tpcomment><!-- start: productCycling V2 --></venda_tpcomment>
       		 	<venda_category temp=productCycling,rec=icat,ref=<venda_curcatref>,center_on=<venda_invtref>,itemsperpage=3>
        		<venda_tpcomment><!-- end: productCycling --></venda_tpcomment>
			</div>
            
	<venda_tpcomment><!-- end: left hand side (picture) --></venda_tpcomment>
            
            
    <venda_tpcomment><!-- start: right hand side (price, description, etc) --></venda_tpcomment>
    	<div id="sofa-detailzone">
        	<venda_block invtivtype!=furniturerange>
				<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
				<div id="tag-addedmsgref" style="text-align:center;border:1px solid #B4B4B4;padding:5px;background-color:#F1F1F1;"><venda_addedmsg msg=You have added addedqty x addedname to your basket></div>
				<div id="tag-vbminvtaddedtocart" style="display:none;"><venda_invtref></div>
				</venda_block label=32>
			</venda_block>
		<h1 itemprop="name" id="comp-name<venda_invtref>"><venda_invtname></h1>
		<venda_block errors=notnull> <h2 class="error"><venda_errors></h2> </venda_block>

<!--<span class="sku" itemprop="productID"><span><venda_text id=desktop.info.sku>:</span> <venda_invtref></span>-->

			<venda_tpcomment><!-- start: description without tab --></venda_tpcomment>

			<div class="sofa-description-text" style="display:block;position:relative;">
				<div class="sofa-maintab">
				<venda_block label=12,invtdesc1=notnull><p class="invtdesc1"><span itemprop="description"><venda_invtdesc1></span></p></venda_block label=12>

				<venda_block label=122,invtivtype=furniture>
                	<div class="avail-shipping">
						<div class="prod-availability">
							<div class="availability-badge">
							<p><b>Availability:</b></p>
							</div>
							<div class="availability-logic">
                            <venda_block invtivtype=furniture>
							<venda_inventory ref=<venda_invtref>,temp=availability>
                            </venda_block>
							</div>
						</div>
                 	</div>
     			</venda_block label=122>


				</div>
                
				<div class="product_swatch">

				<venda_tpcomment><!-- start: price - if product doesn't have attributes --></venda_tpcomment>

				<venda_tpcomment><!-- ONE PRODUCT --></venda_tpcomment>
                	<venda_block label=furniturerange-attr1,invtivtype=furniturerange>
					<div class="oneProduct" id="oneProduct_<venda_invtuuid>">
						<div class="oneProductContent hide">
            			<form name="form" action="http://www.heals.co.uk/" method="get" name="addproductform" id="addproductform">
						<input type="hidden" name="ex" value="co_wizr-shopcart2">
						<input type="hidden" name="curpage" value="">
						<input type="hidden" name="buy" value="<venda_invtref>">
						<input type="hidden" name="invt" value="<venda_invtref>">
						<input type="hidden" name="ivref" value="<venda_invtref>">
						<input type="hidden" name="bsref" value="heals">
						<input type="hidden" name="log" value="22">
						<input type="hidden" name="mode" value="add">
						<input type="hidden" name="next" value="">
						<input type="hidden" name="bklist" value="">
						<input type="hidden" name="layout" value="">
						</venda_block label=furniturerange-attr1>
                        	<venda_block invtivtype=furniturerange>
     						<div class="attrFeedback productselectedwrapper">
                            </venda_block>
							<span id="productselected"></span>
                			<span id="productstatus"><venda_text id=desktop.info.please_make_selection></span><br/>
							<span id="stockstatus"></span> 
                                <div class="box productDetailGradientBox attrFeedback stockFeedbackBox">
							<span id="productstatus"><venda_text id=desktop.info.please_make_selection></span>
							<span id="stockstatus"><venda_text id=desktop.info.availability></span> <span id="atrononhandholder" class="hide"><venda_text id=desktop.info.only><span id="atronhand"></span><venda_text id=desktop.info.left></span>
								</div>
						<venda_tpcomment><!-- start: price - if product doesn't have attributes --></venda_tpcomment>
						<venda_block label=16,chkatt=null>
								<div class="priceDetails" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
								<meta itemprop="priceCurrency" content="<venda_currencycode>">
								<venda_block label=onhand,invtonhand&gt;0><venda_block label=instock,invtpreorder!=1><link itemprop="availability" href="http://schema.org/InStock"></venda_block label=instock><venda_block label=preorder,invtpreorder=1><link itemprop="availability" href="http://schema.org/PreOrder"></venda_block label=preorder></venda_block label=onhand><venda_block label=outofstock,invtonhand&lt;1><link itemprop="availability" href="http://schema.org/OutOfStock"></venda_block label=outofstock>
								<venda_inctemplate type=includes,name=priceFormat>
								</div>
							<venda_inctemplate type=includes,name=multibuy>
						</venda_block label=16>
						<venda_tpcomment><!-- end: price - if product doesn't have attributes --></venda_tpcomment>
                       

							<venda_tpcomment><!-- start: price - if product does have attributes --></venda_tpcomment>
                            	<venda_block invtivtype=furniturerange>
								<div class="productprice" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            					<p style="width:20%;float:left;"><b>Price:</b></p>
								<meta itemprop="priceCurrency" content="<venda_currencycode>">
								<venda_block label=instock,invtatrinstock&gt;0><link itemprop="availability" href="http://schema.org/InStock"></venda_block label=instock><venda_block label=outofstock,invtatrinstock&lt;1><link itemprop="availability" href="http://schema.org/OutOfStock"></venda_block label=outofstock>
								<venda_inctemplate type=includes,name=priceFormat>
								</div>
                                </venda_block>
								<venda_block label=showmultibuy,invtatrminsubsell=0.00,invtatrmaxsubsell=0.00><venda_inctemplate type=includes,name=multibuy></venda_block label=showmultibuy>
								<venda_tpcomment><!-- end: price - if product does have attributes --></venda_tpcomment>
                                
                   				<div class="productdescription">
                   				<venda_category temp=swatches,ref=swatches,rec=scat>
                    			</div>
                                
							</div>

                            <venda_block label=nonrange,invtivtype=furniture>
							<div class="box productDetailGradientBox buyControls" style="clear:both;text-decoration:none;">
                			<form name="form" action="http://www.heals.co.uk/" method="get" name="addproductform" id="addproductform">
							<input type="hidden" name="ex" value="co_wizr-shopcart2">
							<input type="hidden" name="curpage" value="">
							<input type="hidden" name="buy" value="<venda_invtref>">
							<input type="hidden" name="invt" value="<venda_invtref>">
							<input type="hidden" name="ivref" value="<venda_invtref>">
							<input type="hidden" name="bsref" value="heals">
							<input type="hidden" name="log" value="22">
							<input type="hidden" name="mode" value="add">
							<input type="hidden" name="next" value="">
							<input type="hidden" name="bklist" value="">
							<input type="hidden" name="layout" value="">
                            <venda_block label=250,invtavail&gt;0,etadyleft&gt;0,operator=or>
							<venda_block label=700,chkatt=null>
							<!-- if in stock -->
							<venda_tpcomment><!-- start: button link image --></venda_tpcomment>
							<div id="addproductbox" class="addproductbox">                 
								<div class="quantity_place">
                                <label for="qty" style="color: #333333;"><venda_text id=desktop.info.qty>: </label><input name="qty" id="qty" type="text" value="1" class="qty textInput" size="3" maxlength="3">
                                </div>
							<!-- if product doesn't have attributes -->
							<input type="hidden" name="htxt" id="htxt" value="<venda_htxt mode=make,sofa=true>"> 
							<input type="submit" value="<venda_text id=desktop.button.addtobasket>"  data-track="addtobasket" class="preorder">             
                			<venda_block label=353456,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
<venda_block label=ustyper1,ustype=R>
<a href="<venda_codehttps>?ex=co_wizr-shopcart2&bsref=<venda_bsref>&wizard=shopcart2&step=confirm&param1=login"></venda_block label=ustyper1><venda_block label=ustyper0,ustype!=R><a href="<venda_codehttps>?ex=co_wizr-shopcart2&bsref=<venda_bsref>&wizard=shopcart2&step=billtologin&param1=login"></venda_block label=ustyper0><venda_text id=desktop.button.addtobasket></a>
</venda_block label=353456>
                    		</div>
							</venda_block label=700>
                   			</venda_block label=250>
                            <venda_block label=nostocknonfurnrange1,invtavail&lt;0,invtavail=0,invtavail=null,operator=or>
							<venda_block label=nostocknonfurnrange2,etadyleft=null,etadyleft&lt;1,operator=or>
							<div style="padding: 10px 0 0 0;">
							<a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=site.link.title.email_when_in_stock.invt>" id="emwbis_link" class="emwbisLink button" data-track="open-emwbis"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/emwbis.gif" alt="Email Me When Back In Stock" /></a>
							</div>
							</venda_block label=nostocknonfurnrange2>
							</venda_block label=nostocknonfurnrange1>
                            </form>
                	</div>
                    </venda_block label=nonrange>
    
							<venda_tpcomment><!-- start: attributes dropdown --></venda_tpcomment>
                            <venda_block label=furniturerange-attribute1,invtivtype=furniturerange>
                            <div class="attributes">
								<div id="attributeInputs" class="attributeInputs">
									<venda_block label=21,selatt1=notnull>
									<div style="display:none;">
									<label for="att1"><venda_att1>:</label>
                                    </div>
                                	<select name="att1" id="att1_<venda_invtuuid>"><option value=""><venda_text id=site.product_detail.attribute.att1></option><venda_selatt1></select>
									</venda_block label=21>
								</div>
                            </div>
                            </venda_block label=furniturerange-attribute1>
							<venda_tpcomment><!-- end: attributes dropdown --></venda_tpcomment>
                            
                            <venda_tpcomment><!-- ATTRIBUTES SETTINGS --></venda_tpcomment>
							<venda_block label=1000,chkatt=notnull>
							<div id="attributesForm" style="display: none;">swatch</div>
							<div id="invtref" style="display: none;"><venda_invtref></div>
							<div id="attributeNames">
							<div class="att1" style="display: none;"><venda_att1></div>
							</div>
							<div id="invtrelease" style="display: none;"><venda_invtrelease></div>
							</venda_block label=1000>
							<venda_tpcomment><!-- eo ATTRIBUTES SETTINGS --></venda_tpcomment>


						<venda_block label=52,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
						<script type="text/javascript" src="../productdetailsofa/&lt;venda_serveradd&gt;/partners/pwr/engine/js/full.js"></script>
						<!-- power reviews snippet for product reviews
						<script type="text/javascript">snippet(document);</script> -->
						</venda_block label=52>
						</div>
						
                        <venda_tpcomment><!-- start: buyControl div --></venda_tpcomment>
                		
                    
                    <venda_block label=range1,invtivtype=furniturerange>
                    
                    	<venda_block label=32,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
                        <div id="tag-addedmsgref" style="text-align:center;border:1px solid #B4B4B4;padding:5px;background-color:#F1F1F1;margin:10px 0 0 0;">
                        <venda_addedmsg msg=You have added addedqty x addedname to your basket>
                        </div>
						<div id="tag-vbminvtaddedtocart" style="display:none;">
                        <venda_invtref>
                        </div>
                        </venda_block label=32>

                	<div class="box productDetailGradientBox buyControls">
                    	<venda_block label=701,chkatt=notnull>
                    	<script type="text/javascript">
						$(function(){$("#addproductform").submit(function(){if(jQuery(".qty").val()>0){return true}else{alert(jQuery("#attributes-quantity").text());return false}})})
						</script>

                    	<div id="addproductbox" class="addproductbox">
							<div class="quantity_place">
                            <label for="qty"><venda_text id=desktop.info.qty>: </label><input name="qty" id="qty" type="text" value="1" size="3" maxlength="3" class="qty textInput">
                            </div>
							<venda_tpcomment><!-- Add to basket, PreOrder --></venda_tpcomment>
							<input type="submit" value="<venda_text id=site.button.add_to_basket>" data-track="addtobasket" class="preorder">
                    		<venda_block label=353456,mode=value,<venda_addedmsg msg=<venda_text id=site.addedmsg>>=notnull>
<venda_block label=ustyper11,ustype=R>
<a href="<venda_codehttps>?ex=co_wizr-shopcart2&bsref=<venda_bsref>&wizard=shopcart2&step=confirm&param1=login"></venda_block label=ustyper11><venda_block label=ustyper00,ustype!=R><a href="<venda_codehttps>?ex=co_wizr-shopcart2&bsref=<venda_bsref>&wizard=shopcart2&step=billtologin&param1=login"></venda_block label=ustyper00><img style="padding:0 0 0 7px;" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/checkout.gif" alt="Go To Checkout"></a>
</venda_block label=353456>
						</div>			
					</venda_block label=701>
                    <venda_tpcomment><!-- EMWBIS --></venda_tpcomment>
						<a id="emwbis_link" href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" class="emwbisLink hide button doDialog"><venda_text id=desktop.button.email_when_in_stock></a>
                    </div>
                    </form>
                 </div>
                 </venda_block label=range1>
                    
                	<venda_tpcomment><!-- end: button link image --></venda_tpcomment>
					<venda_block label=30,invtpreorder=notnull>
					<venda_tpcomment><!-- if future release date --></venda_tpcomment>
					<p class="release"><venda_text id=desktop.info.not_yet_released></p>
					<p class="release"><venda_text id=desktop.info.release_date></p>
					</venda_block label=30>	
                
            		<venda_tpcomment><!-- removed: <venda_block label=26,invtavail&lt;1> --></venda_tpcomment>
			
			</div>
                <venda_tpcomment><!-- end: buyControl div --></venda_tpcomment>

                <venda_tpcomment><!-- start: share --></venda_tpcomment>
   				<div class="sofa-share">
   					<div class="sofa-email-link"><a href="<venda_dispview invt=<venda_invtref>>&temp=tellafriend" id="tellafriend_link" title="Email this product" target="_blank" class="doDialog" rel="550,450,tellafriend"><img class="sofa-email-pic" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/site-wide/sofa-email.png" /></a>
                    </div>
   					<div class="sofa-print-link"><a href="javascript:window.print();" title="Print this page"><img class="sofa-email-pic" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/site-wide/sofa-print.png" /></a>
                    </div>
					<!-- Place this tag where you want the +1 button to render. -->
					<div class="sofa-google-plus-link"><div class="g-plusone" data-size="medium">
                    </div>

				<!-- Place this tag after the last +1 button tag.-->
				<script type="text/javascript">
  				window.___gcfg = 
  				{lang: 'en-GB'
  				};

  				(function() {
   				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    			po.src = 'https://apis.google.com/js/plusone.js';
   				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 				})();
				</script>
                </div>
				<div class="sofa-twitter-link"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="Heals_Furniture">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </div>
				<div class="sofa-facebook-link"><iframe src="//www.facebook.com/plugins/like.php?href=<venda_dispview invt=<venda_invtref>>&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:25px;" allowTransparency="true"></iframe>
                </div>
                <div class="sofa-pinterest-link"><a href="http://pinterest.com/pin/create/button/?url=<venda_dispview invt=<venda_invtref>>&media=<venda_media rec=invt,type=movie-swf-pict,key=medium,img=no>&description=<venda_invtname>" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                </div>
			</div>
            </div>
     		<venda_tpcomment><!-- end: share --></venda_tpcomment>
            <venda_block label=401,pdxtswatch=1>
            <div class="sofa-swatch-request">                      
			<a href="#swatch_request" >REQUEST YOUR SWATCH HERE</a>
			</div>
            </venda_block label=401>
            <venda_tpcomment><!-- eo ONE PRODUCT --></venda_tpcomment>
        	<venda_tpcomment><!-- end: product detail contents --></venda_tpcomment>
            </div>
			<venda_tpcomment><!-- end: right hand side (price, description, etc) --></venda_tpcomment>

  			<venda_tpcomment><!-- Start:Sofa Information --></venda_tpcomment>
    		<div class="clear-all"></div>        
			<div class="sofainfo-holder">
				<div class="sofaInfo-title"></div>

				<venda_page page=<venda_invtref>-sofa>

				<div class="sofaInfo-right">

					<div class="sofadetails-text">
					<table width="100%" class="tbl-details">

					<venda_block label=pir,mode=value,<venda_invtivtype>=FurnitureRange, <venda_invtivtype>=Furniture, operator=or>
					<p><a href="#rangeProducts" class="scroll" style="color:#333333;">View all <strong><venda_invtatrtot></strong> products in <strong><venda_invtname></strong> range.</a></p>
					</venda_block label=pir>
					<venda_extflds template=pdxtlist,group=1,ref=<venda_invtref>,ivtype=<venda_invtivtype>>

					</table>

						<div class="anyquestion"><venda_block label=onlineE,pdxtstoreavail=1></venda_block label=onlineE></div>
						<p class="sku bold" style="text-transform: uppercase; margin-left:2px;"> Product ID : <span itemprop="productID"><venda_invtref></span></p>

					</div>

				</div>

  				<venda_tpcomment><!-- Start:Sofa delivery info --></venda_tpcomment>
				<div id="sofa-productdetail-shipping">

					<venda_block label=799,pdxtexclusive=1>
        			<div class="exclusive_to_heals">
 	 				<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/exclusive-to-heals.png">
  					</div>
        			</venda_block label=799>

					<div class="shipping-badge">
					<venda_block label=parcel1,invtwunits=Standard>
					<a href="http://www.heals.co.uk/page/parcel_delivery&layout=popups&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>">
					<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/parcel-delivery-badge-sofa.png"></a>
					</venda_block label=parcel1>
					<venda_block label=specialist1,invtwunits=Fragile>
					<a href="<venda_dispview page=specialist_delivery>&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>">
					<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/specialist-delivery-badge-sofa.png"></a>
					</venda_block label=specialist1>
					<venda_block label=furniture1,invtwunits=Furniture>
					<a href="<venda_dispview page=furniture_delivery>&layout=popups" rel="popup console 730 1000" alt="<venda_text id=site.link.title.delivery_charge_from>">
					<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/furniture-delivery-badge-sofa.png"></a>
					</venda_block label=furniture1>
					</div>
        
					<div class="shipping-logic">
					<venda_block label=parcel11,invtwunits=Standard>
					<venda_page page=deliverycondition>
					</venda_block label=parcel11>
					<venda_block label=specialist11,invtwunits=Fragile>
					<venda_page page=deliverycondition100>
					</venda_block label=specialist11>
					<venda_block label=furniturefree,invtsell&gt;999,invtwunits=Furniture,operator=and>
					<venda_page page=deliverycondition0>
					</venda_block label=furniturefree>
					<venda_block label=furniturecost,invtsell&lt;1000,invtwunits=Furniture,operator=and>
					<venda_page page=deliverycondition50>
					</venda_block label=furniturecost>
					</div>

					<venda_block label=healsexpress,pdxtexpress=1>
					<div class="express-badge-holder">
					<a href="<venda_dispview pcat=expressservice>&layout=popups&layout=popups" rel="popup console 750 1000" alt="Heal's Express"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/heals-express.gif"></a>
					</div>
					</venda_block label=healsexpress>

					<venda_block label=notgiftvouchers,mode=value,<venda_invtcatref0>!=giftvouchers>
					<venda_block label=intshipping,invtcntrygrpref0!=300>
					<div class="european-shipping-badge">
					<a href="http://www.heals.co.uk/page/international_shipping&layout=popups&layout=popups" rel="popup console 740 520" alt="<venda_text id=site.link.title.delivery_charge_from>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/international-delivery-badge.gif" border="0"></a>
					</div>
        
					<div class="european-shipping-logic">
					<a href="http://www.heals.co.uk/page/international_shipping&layout=popups&layout=popups" rel="popup console 740 520" alt="<venda_text id=site.link.title.delivery_charge_from>">
European: 2-5 Working Days &pound;8.95</a>
					</div>
					</venda_block label=intshipping>
					</venda_block label=notgiftvouchers>

					<venda_block label=designedin,pdxtdesignedin=1>
					<div id="sofa-titlebadges"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/designed-in-britain-sofa.png" /></div>
					</venda_block label=designedin>
        
					<venda_block label=madein,pdxtmadein=1>
					<div id="sofa-titlebadges"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/product-detail/made-in-britain-sofa.png" /></div>
					</venda_block label=madein>
		


				</div>
				<venda_tpcomment><!-- end:Sofa delivery info --></venda_tpcomment>
                <venda_tpcomment><!-- End:Sofa Information --></venda_tpcomment>
                
                <a name="swatch_request">
				<div class="clear-all"></div>
				</a> 

				<venda_tpcomment><!-- Swatch request --></venda_tpcomment>
				<venda_block label=401,pdxtswatch=1> 
				<venda_inctemplate name=swatch_request,type=invt> 
				</venda_block label=401> 
  

				<div class="clear-all"></div>
        
        
         <!-- possible content end tags -->      
        </div>
	</div>
</div>
</div>
</div>


            	<venda_tpcomment><!-- start: pre script items for bottom of page --></venda_tpcomment>
                <venda_block label=219,chkatt=notnull>
				<venda_inctemplate name=attributeData,type=invt> 	<venda_tpcomment><!-- Used to load attribute product data--></venda_tpcomment>
				<venda_mediagrid template=alternateviewGrid>		<venda_tpcomment><!-- Used to load attribute media image and image data --></venda_tpcomment>
				</venda_block label=219>
				<venda_tpxt mode=set,name=parent,value=<venda_invtcatref0>>
				<!-- tpxt used for crumbtrail -->
				<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
				<!-- tpxt used for recently viewed items -->
				<venda_tpxt mode=set,name=invtref,value=<venda_invtref>>
				<venda_extflds template=extflds,group=1,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                <venda_tpcomment><!-- end: pre script items for bottom of page --></venda_tpcomment>

	<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Attributes/swatchArrange2.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
    var imageArea = $('.zoomableImages').height();
	var productDetailAtabs = $('.product-detailATabs').height();
	var productTabs = (imageArea - productDetailAtabs) - 110;
	$('.sofa-description-text,.sofa-details-text,.sofa-reviews-text').css('min-height', productTabs);
});
$(window).load(function() {
	var imageArea = $('.zoomableImages').height();
	var productDetailAtabs = $('.product-detailATabs').height();
	var productTabs = (imageArea - productDetailAtabs) - 110;
	$('.sofa-description-text,.sofa-details-text,.sofa-reviews-text').css('min-height', productTabs);
});
</script>
<venda_block label=lightbox1, invtref=notnull><script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/lightbox/jquery-1.7.2.min.js"></script></venda_block label=lightbox1>
<venda_block label=lightbox2, invtref=notnull><script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/lightbox/lightbox.js"></script></venda_block label=lightbox2>
<link href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/lightbox/lightbox.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript">
/*$(function() {
	// Use this example, or...
	 $('a[rel*=lightbox]').lightbox(); // Select all links that contains lightbox in the attribute rel
});*/
Venda.namespace('swatchInfo');
Venda.swatchInfo = {
	options: {
		
	},
	init: function (swatch) {
		var split = swatch.split('_'),
			type = split[split.length-1].toLowerCase(),
			sku = split[0],
			colour = split[split.length-2].toLowerCase();
		jQuery('.swatchInfo').hide();
		jQuery('.'+type+'-info').show(200, function() {
			jQuery(this).find('img').attr('src','<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/'+colour+'-'+type+'.jpg');
		});
	}
}
</script>
